#include <freq.h>
#include <mem.h>

/delete-node/ &hrmem;

/ {
	chosen {
		zephyr,flash = &itcm_rom;
		zephyr,sram = &itcm_ram;
	};

	soc {
		itcm_rom: itcm@0 {
			compatible = "arm,itcm";
			reg = <0x00000000 DT_SIZE_K(16)>;
		};

		itcm_ram: itcm@4000 {
			compatible = "arm,itcm";
			reg = <0x00004000 DT_SIZE_K(16)>;
		};

		spi0: spi@40000000 {
			compatible = "sc,qspi";
			interrupts = <2 0>;
			reg = <0x40000000 0x1000>;
			#address-cells = <1>;
			#size-cells = <0>;
			slave-num = <1>;
			cpol = <0>;
			cpha = <0>;
			spiclk_div = <0>;
			data-capture-mode;

			s25fl256l0: s25fl256l0@0 {
				compatible = "jedec,spi-nor";
				reg = <0>;
				size = <DT_SIZE_M(256)>;
				spi-max-frequency = <12000000>;
				status = "okay";
				enter-4byte-addr = <1>;
				jedec-id = [01 60 19];

				partitions {
					compatible = "fixed-partitions";
					#address-cells = <1>;
					#size-cells = <1>;
					golden_fpga: partition@0 {
						reg = <0x00000000 DT_SIZE_M(8)>;
					};
					golden_fsw: partition@800000 {
						reg = <0x00800000 (DT_SIZE_M(4))>;
					};
					update_fpga: partition@1000000 {
						reg = <0x01000000 DT_SIZE_M(10)>;
					};
					update_fsw: partition@1A00000 {
						reg = <0x01A00000 (DT_SIZE_M(4))>;
					};
				};
			};
		};
	};
};
